.container1{
    width: 700px;
    margin: auto;
}
.card-img-top{
    height: 200px;
    width: 200px;
    margin: 0 auto;
    border-radius: 5px;
    border: 2px solid red;
    margin-top: 10px;

   
}



@media only screen and (max-width: 700px) {
    .container1{
        width: 350px;
        margin: auto;
    }
    
 
}




